*.suo
*.lock.json
*.xproj.user
.vs/restore.dg
.vs/config/applicationhost.config
packages/*
src/PagueVeloz/bin/*
src/PagueVeloz/obj/*
src/PagueVeloz/pkg/*
tests/PagueVeloz.Tests/bin/*
tests/PagueVeloz.Tests/obj/*
